/** img-header-pool **/
.img-header-pool {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url("https://source.unsplash.com/RTrZvGlvlQc/1920");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-header-pool_content {
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
}
.img-header-pool_content h1 {
    color: var(--primary);
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
}
.h3-call-pool {
    color: var(--primary);
    text-align: center;
}
.img-header-pool_content a {
    text-decoration: none;
    background-color: var(--primary);
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--b-w);
    font-weight: 600;
    position: relative;
}
.img-header-pool_content a::before {
    content: '';
    display: block;
    height: 100%;
    border-radius: 10px;
    background: var(--b-w);
    color: var(--b-w);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform-origin: left;
    transform: scale(0, 1);
    transition: transform ease-in-out 500ms;
}
.img-header-pool_content a:hover::before {
     transform: scale(1,1);
}
.img-header-pool_content a span {
     transition: all ease-in-out 1s;
}
.img-header-pool_content a:hover span {
    position: relative;
    color: var(--w-b);
}